certifi==2024.2.2
chardet==5.2.0
click==8.1.7
et-xmlfile==1.1.0
future==1.0.0
gTTS==2.5.1
idna==3.7
jdcal==1.4.1
mysql-connector==2.2.9
mysql-connector-python==8.4.0
namedtupled==0.3.3
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
protobuf==5.27.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
sendgrid==6.11.0
six==1.16.0
starkbank-ecdsa==2.2.0
urllib3==2.2.1
xlrd==2.0.1
XlsxWriter==3.2.0
